extends layout

block content
    .container.col-md-4.offset-md-2
        h1 Welcome to Linh's Website ^.^
        h2#form-title Login now!
        form(action='/', method='post')
            .form-group
                label(for='email') Email address:
                input#email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter your Email address', name='email', required='')
                small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label(for='password') Password:
                input#password.form-control(type='password', placeholder='Enter your Password', name='password', required='')
            .form-group#password-confirm
                label(for='confirm-password') Confirm password:
                input#confirm-password.form-control(type='password', placeholder='Enter your Password again', name='confirm-password', required='')
            .form-group
                button#login.btn.btn-info(type='submit', onclick="Login()") Log in
                button#signup.btn.btn-info(type='submit', onclick="Signup()") Sign up
            .form-group
                input#remember-me.form-check-input(type='checkbox', checked='checked', name='remember-me')
                label(for='remember-me') Remember me
            .form-group
                span.password
                    a(href='#') Forgot password?
        .script

